<!---->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <link rel="icon" type="image/x-icon" href="/img/gdRojo.ico">
    <title>Grupo Dumas</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="/css/dashboard.css" rel="stylesheet">


    <!-- 

  -->
    <link href="/css/form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3">Grupo Dumas</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h2 style="color:white;">Bienvenido:
            <% if(user) { %>
                <span class="badge">
                    <%= user.nombre %>
                </span>
                <% } %>
        </h2>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/logout">Cerrar Sesión</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <% if(user.id_rol==1){ %>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">
                                    <span></span>
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Usuarios">
                                    <span></span>
                                    Usuarios
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/Clientes">
                                    <span></span>
                                    Clientes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Lineas">
                                    <span data-feather="users"></span>
                                    Líneas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Tipologias">
                                    <span data-feather="bar-chart-2"></span>
                                    Tipologías
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Beneficios">
                                    <span data-feather="layers"></span>
                                    Beneficios
                                </a>
                            </li>
                        </ul>
                        <% } else{%>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/">
                                        <span></span>
                                        Dashboard
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/Clientes">
                                        <span></span>
                                        Clientes
                                    </a>
                                </li>
                            </ul>
                            <% } %>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Clientes</h1>
                </div>
                <div class="row g-5">
                    <div class="col-md-7 col-lg-12">
                        <h4 class="mb-3">Crear Contrato</h4>
                        <form class="needs-validation" novalidate action="/crearContrato" method="POST">

                            <div class="row g-3">
                                <input id="id" name="id_cliente" value="<%= cliente.id_cliente %>" hidden>
                                <input id="id_usuario" name="id_usuario" value="<%= usuarioId %>" hidden>

                                <div class="col-4">
                                    <label for="nombre" class="form-label">Nombre Completo </label>
                                    <input type="text" class="form-control" value="<%= cliente.nombre %>" id="nombre"
                                        name="nombre" required readonly>
                                </div>

                                <div class="col-4">
                                    <label for="dni" class="form-label">Dni</label>
                                    <input type="number" class="form-control" id="dni" value="<%= cliente.dni %>"
                                        name="dni" required readonly>
                                </div>

                                <div class="col-4">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="email" value="<%= cliente.email %>"
                                        name="email" required readonly>
                                </div>

                                <div class="col-md-4">
                                    <label for="nacimiento" class="form-label">Nacimiento</label>
                                    <input type="date" class="form-control" id="nacimiento" name="nacimiento"
                                        value="<%= cliente.nacimiento %>" readonly>
                                </div>

                                <div class="col-md-2">
                                    <label for="num_contrato" class="form-label">Numero Contrato</label>
                                    <input type="number" class="form-control" id="num_contrato" name="num_contrato" min="0" value="<% if(typeof valores != 'undefined') { %><%= valores.num_contrato %><% } else{ %><%=0%><%}%>">
                                </div>

                                <div class="col-md-2">
                                    <label for="linea" class="form-label">Línea</label>
                                    <select class="form-select" id="linea" name="linea">
                                        <option selected value="">Seleccionar</option>
                                        <% lineas.map((linea)=> { %>
                                            <option value="<%=linea.id_linea%>">
                                                <%=linea.nombre%>
                                            </option>
                                            <% }) %>
                                    </select>
                                    <div class="invalid-feedback">
                                        La Linea no puede estar vacía.
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label for="tipologia" class="form-label">Tipologías</label>
                                    <select class="form-select" name="tipologia" id="tipologia">
                                        <option selected value="">Seleccionar</option>
                                        <% tipologias.map((tipologia)=> { %>
                                            <option value="<%=tipologia.id_tipologia%>">
                                                <%=tipologia.nombre%>
                                            </option>
                                            <% }) %>
                                    </select>
                                    <div class="invalid-feedback">
                                        La tipologia no puede estar vacía.
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label for="zona" class="form-label">Zona</label>
                                    <input type="text" class="form-control" id="zona" name="zona" value="<% if(typeof valores != 'undefined') { %> <%= valores.zona %><% } %>">
                                    <div class="invalid-feedback">
                                        La fecha de nacimiento no puede estar vacía.
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label for="contratados" class="form-label">Mts2 Contratados</label>
                                    <input type="number" class="form-control" id="contratados" name="contratados" min="0" value="<% if(typeof valores != 'undefined') { %><%= valores.contratados %><% } else{ %><%=0%><%}%>">
                                    <div class="invalid-feedback">
                                        Los mts2 contratados no pueden estar vacios.
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label for="inicial" class="form-label">Mts2 valor inicial</label>
                                    <input type="number" class="form-control" id="inicial" name="inicial" min="0" value="<% if(typeof valores != 'undefined') { %><%= valores.inicial %><% } else{ %><%=0%><%}%>">
                                    <div class="invalid-feedback">
                                        Los mts2 valor inicial no pueden estar vacios.
                                    </div>
                                </div>

                                <div class="col-4">
                                    <label for="aporte" class="form-label">Aporte</label>
                                    <input type="number" class="form-control" id="aporte" name="aporte" min="0" value="<% if(typeof valores != 'undefined') { %><%=valores.aporte%><% } else{ %><%=0%><%}%>">

                                </div>

                                <% if(beneficios.length> 0) { %>
                                    <div class="col-4">
                                        <label class="col-form-label" for="flexCheckChecked">Beneficios</label>
                                        <% for(let i=0;i<beneficios.length;i++) {%>
                                            <div class="form-check">
                                                <input class="form-check-input" name="beneficio" type="checkbox"
                                                    id="flexCheckChecked" value="<%= beneficios[i].id_beneficio %>"
                                                    >
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    <%= beneficios[i].nombre %>
                                                </label>
                                            </div>
                                            <% } %>
                                    </div>
                                    <% } %> 
                            </div>

                            <hr class="my-4">

                            <div class="bg-transparent">
                                <button class="w-50 btn btn-primary btn-md" type="submit">Confirmar</button>
                                <a href="/Clientes" type="button" class="btn btn-outline-danger">Cancelar</a>
                            </div>
                            <% if(typeof validaciones !='undefined' ) { %>
                                <% validaciones.map((validacion)=> { %>
                                    <div class="alert alert-warning" role="alert">
                                        <%= validacion.msg %>
                                    </div>
                                    <% })%>
                                        <% }%>
                        </form>
                    </div>
                </div>
        </div>
        </main>
    </div>
    </div>
    <!--
  <div class=" container">
                    <main>

                    </main>
                </div>
                -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--

    <script src="js/form-validation.js"></script>
  -->
    <% if(alert){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showCloseButton: <%= showConfirmButton %>,
                timer: <%= timer %>
      }).then(() => {
                    window.location = '/<%= ruta %>'
                })
        </script>

        <% } %>
</body>

</html>