<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.88.1">
  <link rel="icon" type="image/x-icon" href="/img/gdRojo.ico">
  <title>Grupo Dumas</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/checkout/">

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <link href="css/style.css" rel="stylesheet">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <link href="/css/dashboard.css" rel="stylesheet">


  <!-- 

  -->
  <link href="/css/form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3">Grupo Dumas</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h2 style="color:white;">Bienvenido:
      <% if(user) { %>
        <span class="badge">
          <%= user.nombre %>
        </span>
        <% } %>
    </h2>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="/logout">Cerrar Sesión</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">
                <span></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/Clientes">
                <span></span>
                Clientes
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Clientes</h1>
        </div>
        <% if(cliente){ %>
          <div class="row g-5">
            <div class="col-md-7 col-lg-12">
              <h4 class="mb-3">Ver Cliente</h4>
              <form>
                <div class="row g-3">
                  <div class="col-4">
                    <label for="name" class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= cliente.nombre %>"
                      readonly>
                  </div>

                  <div class="col-4">
                    <label for="dni" class="form-label">Dni</label>
                    <input type="number" class="form-control" id="dni" name="dni" value="<%= cliente.dni %>" readonly>
                  </div>

                  <div class="col-4">
                    <label for="mail" class="form-label">Email</label>
                    <input type="text" class="form-control" id="mail" name="mail" value="<%= cliente.email %>" readonly>
                  </div>

                  <div class="col-md-4">
                    <label for="nacimiento" class="form-label">Fecha de nacimiento</label>
                    <input type="date" class="form-control" id="nacimiento" name="nacimiento"
                      value="<%= cliente.nacimiento %>" readonly>
                  </div>

                  <div class="col-4">
                    <label for="domicilio" class="form-label">Domicilio</label>
                    <input type="text" class="form-control" id="domicilio" name="domicilio"
                      value="<%= cliente.domicilio %>" readonly>
                  </div>

                  <div class="col-4">
                    <label for="localidad" class="form-label">Localidad</label>
                    <input type="text" class="form-control" id="localidad" name="localidad"
                      value="<%= cliente.localidad %>" readonly>
                  </div>

                  <div class="col-4">
                    <label for="tel" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="tel" name="tel" value="<%= cliente.telefono %>"
                      readonly>
                  </div>


                  <div class="col-2">
                    <label for="cuotas" class="form-label">Número de cuotas pagas</label>
                    <input type="number" class="form-control" id="cuotas" name="cuotas"
                      value="<%= cliente.num_cuotas %>" readonly>
                  </div>
                </div>

                <hr class="my-4">

                <div class="bg-transparent">
                  <a href="/Clientes" class="w-50 btn btn-primary btn-md" type="button">Volver</a>
                </div>
              </form>
            </div>
          </div>
          <% } %>
    </div>
    </main>
  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

  <% if(alert){ %>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text: '<%= alertMessage %>',
        icon: '<%= alertIcon %>',
        showCloseButton: <%= showConfirmButton %>,
        timer: <%= timer %>
      }).then(() => {
          window.location = '/<%= ruta %>'
        })
    </script>

    <% } %>
</body>

</html>